* {
  box-sizing: 0;
  padding: 0;
  margin: 0;
}

.App {
  width: 375px;
  height: 798px;
  background-color:black;
  margin: 0 auto;
}

.App h2 , h3 {
  text-align: center;
  color: white;
}

.account-container h3 {
margin: 20px;


}
.sign-in-form {
  width: 275px;
  height: 598px;
  background-color:rgb(255, 255, 255);
  margin: 100px auto;
}

.form-container{
  width: 275px;
  height: 100%;
  /* background-color: cadetblue; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
}

.form-container div {

display: flex;
flex-direction: column;
margin: 10px;

}


#email {

  /* border: none ; */

  /* border: 2px solid black ; */
}

.input-custom{

border: 0;
pointer-events: none;

}